
.heading{
    width: 100%;
    text-align: left;
}
.heading h1{
    display: inline;
}
#start{
    font-size: 20px;
}
#status{
    font-size: 20px;
}
h4{
    background-color: rgb(174, 185, 77);
    bottom: 0px;
    position: fixed;
    width: 100%;
    line-height: 2;
}

.modal-dialog{
width: 90%;
}
.heading button{
    float: right;
}
